@{
    ViewData["Title"] = "Home Page";

}
<div class="container">
<div class="row">

    <div class="col-md-offset-3 col-md-6 ">
        <br>
        
            <div class="row">
                <div class="col-md-6 ">
                    <br>
                    <a class="btn btn-primary btn-lg btn-block" asp-controller="Home" asp-action="ExecuteScript">Execute</a>

                </div>
                    <div class="col-md-6 ">
                        <br>
                        <a class="btn btn-primary btn-lg btn-block" asp-controller="Home" asp-action="SearchScript">View</a>
                    </div>
             
    </div>
</div>
    </div>
    </div>
