@{
    ViewData["Title"] = "Home Page";

}
<div class="container">
<div class="row">

    <div class="col-md-offset-4 col-md-4 ">
        <br>
        <a class="btn btn-primary" asp-controller="Home" asp-action="ExecuteScript">Execute</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="SearchScript">View</a>

    </div>
    </div>

</div>
